################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Demo_NPOI/obj/Debug
/.vs/Demo_NPOI/v15/Server/sqlite3
